.menu {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #cbd5e0;
    border-radius: 0.25rem;
    background-color: #f7fafc;
    color: black;
}

.menu > li {
    padding: 0.5rem 1rem;  
}

.menu > li:hover {
    background-color: aqua;  
}