.main {
    width: 100%;
    margin: 10px 100px;
}

.lock {
    height: 2rem;
    width: 100%;
    padding-top: 8px;
}

.title {
    width: 100%;
    padding-top: 10px;
    text-align: center;
    color: white;
}

.lines {
    position: absolute;
    overflow: visible;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    stroke: white;
}

.item {
    height: 6rem;
    width: 6rem;
    position: absolute;
    color: white;
    text-align: center;
    vertical-align: middle;
    background-color: black;
    border: 1px white solid;
    border-radius: var(--rounded-2);
    outline: none;
    z-index: 2;
    box-shadow: black 0 0 10px 10px;
    cursor: pointer;
    transform: translateX(calc(3vw - 3rem));
}

.item:hover {
    transform: translateX(calc(3vw - 3rem)) scale(0.9);
    box-shadow: black 0 0 27px 32px;
}

.text,
.text * {
    color: white;
    padding: 0.3rem;
}
