.main {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--gray-0);
}

.bottomContainer {
  display: flex;
  flex-grow: 1;
  border-top: var(--border);
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.text {
  color: white;
  padding: 1rem 2rem 1.5rem 2rem;
}

.text code {
  direction: ltr;
  unicode-bidi: isolate;
  white-space: nowrap;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  text-align: center;
  color: white;
}

.changeLangButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: black;
  font-size: medium;
  height: 30px;
  border-radius: 0.5rem;
  color: black;
  background-color: white;
}

.inlBody {
  flex: 1;
  border-radius: 2rem;
  background-color: black;
  color: white;
  padding: 1rem;
  margin: 1rem;
}
