.main {
    width: 100%;
    margin: 10px 100px;
}

.title {
    width: 100%;
    padding-top: 10px;
    text-align: center;
    color: white;
}

.text, .text * {
    color: white;
    padding: 0.3rem;
}

.Import, .Axiom, .Theorem, .Todo {
    display: inline;
    border-radius: .4rem;
    margin: 0 .3rem;
    padding: .2rem;
}

.Axiom   { background-color: #ffff00; color: black; }
.Todo    { background-color: #ff0000; color: white; }
.Import  { background-color: #0000ff; color: white; }
.Theorem { background-color: #9acd32; color: black; }
