.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
}

.unicodeHelp {
    margin: 1rem;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    text-align: center;
    color: white;
}

.text {
    color: white;
}

.exampleItem {
    background-color: var(--gray-1);
    display: block;
    margin: 2rem;
    padding: 1rem 2rem;
    border-radius: var(--rounded-2);
    text-decoration: none;
    color: white;
    white-space: nowrap;
    text-align: center;
    position: relative;
}

.exampleItem::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    transform: translateX(-50%);
    width: 3rem;
    height: 4px;
    background-color: var(--primary);
    border-radius: 100px;
}

.exampleItem:hover {
    background-color: var(--gray-2);
}

.exampleItem:hover::before {
    width: 5rem;
}
