.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: gray;
    opacity: .7;
    z-index: 5000;
}

.foreground {
    position: fixed;
    top: 20vh;
    left: 20vw;
    height: 60vh;
    width: 60vw;
    background-color: black;
    color: white;
    border-radius: 2rem;
    padding: 2rem;
    z-index: 5001;
}

.input {
    width: 80%;
    margin: 1rem;
}

.myP {
    white-space: pre-line;
}
