/* @import url("./font/iransans/css/fontiran.css"); */

:root {
  --gray-0: #ffffff15;
  --gray-1: #ffffff20;
  --gray-2: #ffffff40;
  --gray-3: #ffffff70;
  --primary: #ff5e5e;

  --rounded-2: 0.9rem;

  --border: 1px var(--gray-3) solid;
}

*,
*::before {
  transition: all .3s;
}

*,
body {
  font-family: IRANSans, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 300;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  display: flex;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
