/* from: https://github.com/microsoft/vscode/blob/main/extensions/theme-defaults/themes/dark_plus.json */

.highlightLiteral {
    color: #b5cea8;
}

.highlightFunction {
    color: #DCDCAA;
}

.highlightIdent {
    color: #9CDCFE;
}

.highlightType {
    color: #4EC9B0;
}

.highlightString {
    color: #ce9178;
}