.hyp * {
  color: #D4D4D4;
}

.hyp {
  touch-action: none;
  display: block !important;
  padding: .2rem;
  margin: .1rem;
  background-color: #1e1e1e;
  border-radius: 10px;
  border: 1.5px dashed #1e1e1e;
  transition: border-color .3s;
}

.dragHandler {
  cursor: move;
}

.hyp.drop {
  border-color: white;
}

.hyp.over {
  border-color: red;
}

.hyp.drop.over {
  border-color: yellowgreen;
}