.root {
    flex: 2;
    display: flex;
    flex-direction: column;
    border-right: var(--border);
    border-left: var(--border);
}

.tabs {
    border-bottom: var(--border);
}

.tab {
    background-color: inherit;
    color: white;
    padding: 8px 16px;
    outline: none;
    border: none;
    border-bottom: 2px transparent solid;
    transform: translateY(1px);
}

.tab:not(.selected) {
    cursor: pointer;
}

.tab:not(.selected):hover {
    background-color: var(--gray-1);
}

.tab.selected {
    border-color: var(--primary);
    color: var(--primary);
    font-weight: bold;
}

.body {
    flex: 1;
    background-color: black;
    color: white;
    padding: 2rem;
}
